sudo: required
dist: bionic
language: generic
jobs:
  include:
    - stage: build
      install: bash -x build.sh python_base
    -
      install: bash -x build.sh controller
    -
      install: bash -x build.sh test_client
    - stage: test
      script: 
      - bash -x check_commit.sh python_base
    - 
      script: 
      - bash -x check_commit.sh controller
    -   
      script:  
      - bash -x check_commit.sh test_client
    - 
      script: 
      - docker-compose up &
      - sleep 120
      - docker-compose exec redis bash -x -c 'redis-cli KEYS *'
      - docker-compose exec redis bash -x -c 'redis-cli KEYS * | cut -d\" -f2 | xargs -L1 redis-cli JSON.GET'

env:
  global:
  - secure: yLX9jx381n3qAk18BaqpAD7ptsez1b7/dXghGMFy8g3y+TxjNP4enuvnHd0KRa4OIqq28rHoqFKiq6p6EKH2tKDgytbV7Q5BAYjFBSZsiyk6esiKqWprDa2CDZloSG7m2buyT/o1L2/TtMPkfdPwJTkvZZYWy4NN8s/be+sazZ4KLKashunpXYt76sYGFPTbMSrvDJiNt8NiYTXCnNlBa+QDHvXImiiksmgxL9GhB5Jd516lEY7XT0hJAABIvl7K6Eu1BAoDqRnlQtu6RMGb748GTJgVoz9fx4kzEN0RGU409kVKwYaZKLoBJBIr7Wn3RyhsCoc5oJNnlvDrnf8KrDVqxUDk+Wl6Tmj1FKf25TDsKv9aA1zJbGwqFnrAY2+HuSyNdhY+TGuvxoy9HqL+2dYevRS8RuI9vCER+8ve6WHjjhsOuhdeDdhBaG3AN1CXW8juJUrtsDfn/oXU976m4TO3tpjrCEpQFKoK866lgTskGGMct8tM3Z7gROyt1wf3MO2YLra4PCfqF071WbbwkwfYvmZRNV9cngkNMsWwf70d3reQ9UsVKYvauG8CvUjxsCN8Qvv5RQvp9ts0UBC8NffA2+sMpegab/D2NrtAdigpKquQGPoSmW1SBg1WtkXZljDrQWSgytkc+EGOAXhNc0t14TnKqsJ40zO97D2giu4=
  - secure: PhS+e+ZIFbNxH3eKtp1N6KSruyday+mVVYb6bmxoEFh1/N7Xf9cR6UCxxVF+jPCGerAjMvKvFDiFKsmSg36MT/PS7NbwwHHwKr9TS4EShI4tu9j8barguq0gYvpIi3AiZitKN2jZgi0BP1Aph6uxOUxp+5DEuecZeC2Wj1z8ly3uZjoY3Zxt/5KkZYA7GioMbMJq2PSU6QRI1XsOcrueG29deGWxiGG0CpehagWjcYwC4O87Qn3QR78Lt3wz0asGjCU/TORUlA1T6G+s6lc5cvF7nro4jNi0dl9V2es8Ydc8yPlg5HGP7cRJkQnP3CilaCzbN2UQ6UtaolM+v49pgLv5BAuQFW2N0Mh3H4NqL7WDa0hRriOnCnV9K9ZaGDxVOHrdAWVwfTclBrz+eh2bdIk6wl+U0eXum2XEF2gjSBwGkBv35fn06gh/f3CV+coTXbV+gPg28IL05GcOg5SDc6Pcia6yurXZIXM9T9Jtfb2phYbArDdiJyD3N8wX2+75uYYkDNlrodTNqNX5I2KtmDhbeWX1ENCnlxTJHqmayqwEDKypkgFIIhwnNnBQ4Z/GSjeEEd0CXTFJe8O2FIbQY1BiePSoLCUREizpbIe0meMAtbCXFbNAE8DG4b3jkYDp1vqCgd3gvgfYWltt8juMjHEM+IWMtCcng+TRkGBkNk0=
