version: "3"
services:
  karmen:
    environment:
      TZ: "America/New_York"
      GITHUB_ACTIONS: "${GITHUB_ACTIONS}"
    hostname: karmen
    image: jrcichra/karmen:latest
    restart: always
    volumes:
      - "${PWD}/test_config_rpi.yml:/config.yml"
  gpio:
    environment:
      TZ: "America/New_York"
      GITHUB_ACTIONS: "${GITHUB_ACTIONS}"
    hostname: gpio
    restart: always
    image: jrcichra/smartcar_gpio_rpi
    depends_on:
      - karmen
  dashcam:
    environment:
      TZ: "America/New_York"
      GITHUB_ACTIONS: "${GITHUB_ACTIONS}"
    hostname: dashcam
    image: jrcichra/smartcar_dashcam_rpi
    restart: always
    volumes:
      - "${PWD}/recordings:/recordings"
    privileged: true
    depends_on:
      - karmen
  obdii:
    environment:
      TZ: "America/New_York"
      GITHUB_ACTIONS: "${GITHUB_ACTIONS}"
    hostname: transfer
    restart: always
    image: jrcichra/smartcar_obdii_rpi
    privileged: true
    depends_on:
      - karmen  
  transfer:
    environment:
      TZ: "America/New_York"
      GITHUB_ACTIONS: "${GITHUB_ACTIONS}"
    hostname: transfer
    restart: always
    image: jrcichra/smartcar_transfer_rpi
    volumes:
      - "${PWD}/recordings:/recordings"
      - "${PWD}/settings.yml:/settings.yml"
    depends_on:
      - karmen